
body{
    font-weight: bolder;
    font-family:system-ui;
}

h1 {
    font-size: large;
    font-weight: bold;
    color: blue;
}

h2 {
    color: cadetblue;
    background-origin: black;
}

h6 {
    color: aqua;
}
